<p>analytics-reporting works!</p>

<!--<p-accordion>-->
<!--    <p-accordionTab header="Angular Resources">-->
<!--        <ul>-->
<!--            <li><a href="https://angular.dev">Angular Docs</a></li>-->
<!--            <li><a href="https://angular.io/cli">Angular CLI</a></li>-->
<!--            <li><a href="https://material.angular.io">Angular Material</a></li>-->
<!--        </ul>-->
<!--    </p-accordionTab>-->

<!--    <p-accordionTab header="GCP Resources">-->
<!--        <ul>-->
<!--            <li><a href="https://console.cloud.google.com">GCP Console</a></li>-->
<!--            <li><a href="https://cloud.google.com/sql">Cloud SQL Docs</a></li>-->
<!--            <li><a href="https://cloud.google.com/run">Cloud Run Docs</a></li>-->
<!--        </ul>-->
<!--    </p-accordionTab>-->
<!--</p-accordion>-->

