<div class="card">
    <p-table #table [value]="specialtyApps"

             dataKey="programmingLanguage.id"
             rowGroupMode="subheader"
             groupRowsBy="programmingLanguage.id"
             [expandedRowKeys]="expandedRowGroupKeys"
             [tableStyle]="{'min-width': '70rem'}">
        <ng-template #header>
            <tr>
                <th style="width:9%">AppName</th>
                <th style="width:9%">Config Item</th>
                <th style="width:10%">App Info</th>
                <th style="width:14%">Dev Env</th>
                <th style="width:14%">Int/Test Env</th>
                <th style="width:14%">Stg Env</th>
                <th style="width:14%">Prod Env</th>
                <th style="width:8%">App Spec</th>
                <th style="width:8%">Updated On</th>
            </tr>
        </ng-template>
        <ng-template #groupheader let-app let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td colspan="5">
                    <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="app"
                        text
                        rounded
                        plain
                        class="mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                    <img
                        [alt]="app.programmingLanguage.name"
                        src="{{app.programmingLanguage.image}}"
                        width="32"
                        style="vertical-align: middle; display: inline-block" />
                    <span class="font-bold ml-2">{{app.programmingLanguage.name}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template #groupfooter let-app>
            <tr class="p-rowgroup-footer">
                <td colspan="8" style="text-align: right">Total App Count</td>
                <td>{{calculateAppTotal(app.programmingLanguage.name)}}</td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-app>
            <tr>
                <td>
                    <span style="font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size: large" >{{app.name}}</span>
                </td>
                <td>
                    <span style="font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size: medium" >{{app.configurationItem}}</span>
                </td>
                <td>
                    <span style="display: flex; gap: 6px; align-items: center;">
                        <a href="{{app.wikiLink}}" target="_blank">
                            <i [class]="AppItemIcon['wikiLink']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.wikiLink ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.orgLink}}" target="_blank">
                            <i [class]="AppItemIcon['orgLink']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.orgLink ? 'green' : 'gray'}"
                            ></i>
                        </a>
                    </span>
                </td>

                <td>
                    <span style="display: flex; gap: 6px; align-items: center;">
                        <a href="{{app.devEnv.appWebUri}}" target="_blank">
                            <i [class]="AppItemIcon['appUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.devEnv.appWebUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.devEnv.appSwaggerUri}}" target="_blank">
                            <i [class]="AppItemIcon['swaggerUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.devEnv.appSwaggerUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.devEnv.appDbConnectionString}}" target="_blank">
                            <i [class]="AppItemIcon['dbConnectionString']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.devEnv.appDbConnectionString ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.devEnv.appAzureId}}" target="_blank">
                            <i [class]="AppItemIcon['azureId']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.devEnv.appAzureId ? 'green' : 'gray'}"
                            ></i>
                        </a>
                    </span>
                </td>


                <td>
                    <span style="display: flex; gap: 6px; align-items: center;">
                        <a href="{{app.intEnv.appWebUri}}" target="_blank">
                            <i [class]="AppItemIcon['appUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.intEnv.appWebUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.intEnv.appSwaggerUri}}" target="_blank">
                            <i [class]="AppItemIcon['swaggerUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.intEnv.appSwaggerUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.intEnv.appDbConnectionString}}" target="_blank">
                            <i [class]="AppItemIcon['dbConnectionString']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.intEnv.appDbConnectionString ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.intEnv.appAzureId}}" target="_blank">
                            <i [class]="AppItemIcon['azureId']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.intEnv.appAzureId ? 'green' : 'gray'}"
                            ></i>
                        </a>
                    </span>
                </td>


                <td>
                    <span style="display: flex; gap: 6px; align-items: center;">
                        <a href="{{app.stgEnv.appWebUri}}" target="_blank">
                            <i [class]="AppItemIcon['appUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.stgEnv.appWebUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.stgEnv.appSwaggerUri}}" target="_blank">
                            <i [class]="AppItemIcon['swaggerUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.stgEnv.appSwaggerUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.stgEnv.appDbConnectionString}}" target="_blank">
                            <i [class]="AppItemIcon['dbConnectionString']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.stgEnv.appDbConnectionString ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.stgEnv.appAzureId}}" target="_blank">
                            <i [class]="AppItemIcon['azureId']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.stgEnv.appAzureId ? 'green' : 'gray'}"
                            ></i>
                        </a>
                    </span>
                </td>


                <td>
                    <span style="display: flex; gap: 6px; align-items: center;">
                        <a href="{{app.prodEnv.appWebUri}}" target="_blank">
                            <i [class]="AppItemIcon['appUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.prodEnv.appWebUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.prodEnv.appSwaggerUri}}" target="_blank">
                            <i [class]="AppItemIcon['swaggerUri']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.prodEnv.appSwaggerUri ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.prodEnv.appDbConnectionString}}" target="_blank">
                            <i [class]="AppItemIcon['dbConnectionString']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.prodEnv.appDbConnectionString ? 'green' : 'gray'}"
                            ></i>
                        </a>
                        <a href="{{app.prodEnv.appAzureId}}" target="_blank">
                            <i [class]="AppItemIcon['azureId']"
                               style="font-size: 1.2em;"
                               [ngStyle]="{'color': app.prodEnv.appAzureId ? 'green' : 'gray'}"
                            ></i>
                        </a>
                    </span>
                </td>

                <td>
                    <a href="{{app.appSpecificationLink}}" target="_blank">
                        <i [class]="AppItemIcon['appSpecificationLink']"
                           style="font-size: 1.2em;"
                           [ngStyle]="{'color': app.appSpecificationLink ? 'green' : 'gray'}"
                        ></i>
                    </a>
                </td>

                <td>
                    <span style="font-family: 'Courier New', Courier, monospace; font-weight: bold" > {{app.updatedOn | date:'MM/dd/yyyy'}} </span>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
